src/SDL
src/SDL_mixer
src/SDL_ttf
src/ezApp/version.h
src/picoc/devel/libgen_out1.h
src/picoc/devel/libgen_out2.h
src/picoc/devel/libgen
src/openssl/libs
src/openssl/include

linux/build
linux/local

android/SDL
android/assets
android/setup_files/orig

files/svcs/Altitude/altitude.dat
files/svcs/Location/loc_hist.dat
files/svcs/Steps/steps.dat

files/apps/Test/*.png
files/apps/Test/*.mp3
files/apps/Weather/*.json
files/apps/Weather/icon
files/apps/Memo/*.mp3
files/apps/ColrOrgn/files/*.mp3
params

bin/ezsh
bin/src/ezlogfilter

cscope.files
cscope.out
tags
*.swp
