src/SDL
src/SDL_mixer
src/SDL_ttf
src/ezapp/version.h

linux/build
linux/local

android/SDL
android/assets
android/setup_files/orig

files/svcs/Location/loc_hist
files/apps/Test/*.png
files/apps/Test/*.wav
files/apps/Test/*.mp3
files/apps/Weather/*.json
files/apps/Weather/icon
files/apps/Memo/*.wav
params

bin/ezsh
bin/ezlogfilter

cscope.files
cscope.out
tags



