src/SDL
src/SDL_mixer
src/SDL_ttf
src/ezapp/version.h

linux/build
linux/local

android/SDL
android/assets
android/setup_files/orig

files/svcs/Location/loc_hist
files/apps/Test/test5.png
files/apps/Weather/*.json
files/apps/Weather/icon
params

bin/ezsh

cscope.files
cscope.out
tags



